<img src='graphics/three_pandas.jpg'>

<img src='graphics/spacer.png'>

<center><font style="font-size:40px;">Pandas, Part 3 </font></center>

Over the last two sessions, we have introduced and worked with Pandas. In our first session with Pandas we learned: 
1. Importing the Pandas library
1. Creating DataFrames
    1. Creating an Empty DataFrame
    1. Creating a DataFrame from a Python list
    1. Importing a CSV as a Pandas DataFrame (one of the most common ways to import data into Python)
1. .head( )
1. .tail( )
1. .sample( )
1. .shape
1. .keys( ) & .columns
1. .info( )
1. .describe( )
1. .values_count( )
1. Accessing a feature (column) in a DataFrame
1. Accessing an observation (row) in a DataFrame
1. Navigating a DataFrame using .loc( ) and .iloc( ) at an elementary level

In our second session with Pandas we learned:
1. Cleaning cloumn names
1. Cleaning NaN values
1. Using a mask


# Load our libraries and data

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'country': ['United States', 'The Netherlands', 'Spain', 'Mexico', 'Australia'],
                    'capital': ['Washington D.C.', 'Amsterdam', 'Madrid', 'Mexico City', 'Canberra'],
                    'continent': ['North America', 'Europe', 'Europe', 'North America', 'Australia'],
                    'language': ['English', 'Dutch', 'Spanish', 'Spanish', 'English']})

df

# Select multiple rows and columns using .loc

In [ ]:
df.loc[:, 'country':'continent']

In [ ]:
df.loc[0:2, 'country':'continent']

In [ ]:
df.loc[[0, 4], ['country', 'language']]

# Filter DataFrames by category

In many cases, we may want to consider only the data points that are included in one particular category, or sometimes in a selection of categories. For a single category, we are able to do this by using the `==` operator. However, for multiple categories, we have to make use of the `isin` function:

In [ ]:
df[df.continent == 'Europe']

In [ ]:
df[df['continent'] == 'Europe']

In [ ]:
df[df.language.isin(['Dutch', 'English'])]

# Filter DataFrames by excluding categories
As opposed to filtering by category, we may want to filter our DataFrame by excluding certain categories. We do this by making use of the `~` (tilde) sign, which is the complement operator. Example usage:

In [ ]:
df[~df.continent.isin(['Europe'])]

In [ ]:
df[~df['continent'].isin(['Europe'])]

In [ ]:
df[~df.language.isin(['Dutch', 'English'])]

In [ ]:
df[~df['language'].isin(['Dutch', 'English'])]

# Reverse row order
To reverse the row order, we make use of the `.loc( )` operator. This works in the following way:

In [ ]:
df.loc[::-1]

# Reverse column order
Reversing the column order goes in a similar way as for the rows:

In [ ]:
df.loc[:, ::-1]

# `.loc( )`  in more depth

## Row selection

In [ ]:
# row zero all columns
df.loc[0, :]

In [ ]:
# rows 0, 1, & 3, all columns

df.loc[[0, 1, 3], :]

In [ ]:
# rows 0 through 2, all columns

df.loc[0:2, :]

## Column Selection

In [ ]:
# All rows, only the 'capital' column

df.loc[:, 'capital']

In [ ]:
# All rows, only the 'country' and 'capital' columns

df.loc[:, ['country', 'capital']]

In [ ]:
# All rows, and only the 'capital' through 'language' columns

df.loc[:, 'capital':'language']

# Combine Methods

In [ ]:
# Only rows 1 and 3, and all columns 'capital' through 'language'

df.loc[[1,3], 'capital':'language']

# Boolean Selection

In [ ]:
# All rows in which 'Spanish' is in the 'language' column - bracket method

df[df['language'] == 'Spanish']

In [ ]:
# All rows in which 'Spanish' is in the 'language' column - dot method

df[df.language == 'Spanish']

# Exercises

In [ ]:
# Read in the data to a DataFrame from a url - I'll give this one to you since it is new.

import pandas as pd

df_ufos = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
# run a quick EDA on the DataFrame showing the column names, data type for each column, the number of entries,
# and the number of non-null values for each entry

In [ ]:
# Find the shape of the DataFrame

In [ ]:
# Find the unique values in the "state" column

In [ ]:
# display all of the UFO incidents that occurred in Washington and save it as a df of its own

In [ ]:
# Find the number of incidents that occurred in each city in Washington from the Washington DF you just made



# Display all of the unique cities in Washington where an incident occurred



# Select a single city and display the incidents which occurred in that city

In [ ]:
# Establish a DF for all of the incidents that occurred in Gig Harbor, then display it

## Bonus Exercise 1

There are two mistypes in the 'State' column of the original dataset. Find them and correct them.

In [ ]:
# Find the errors

In [ ]:
# Find the rows that contain each of the errors and display them

In [ ]:
# Correct the errors for the first group

In [ ]:
# Correct the errors for the second group

In [ ]:
# Check your work to see that the corrections have been made

## Bonus Exercise 2

Clean up the column names for the dataset and save it to the folder called 'data' in the lesson directory.